{% extends 'core/base_core.html' %}

{% block navbar %}
{% endblock %}

{% block slider_area %}
{% endblock %}

{% block content %}

	<div align="center">
		<br/><br/>
		<div>
			<h1>Builds</h1>
      <p>
        <a target="_new" href="https://djenie.atlassian.net/secure/RapidBoard.jspa?rapidView=22">Work in progress</a> |
        <a target="_new" href="https://djenie.atlassian.net/secure/CreateIssue!default.jspa">Add new Bug or Task</a> |
        <a target="_new" href="https://djenie.atlassian.net/secure/IssueNavigator.jspa?reset=true&jqlQuery=project+%3D+NSWMSITES+AND+resolution+%3D+Unresolved+AND+issuetype+%3D+Backlog+ORDER+BY+priority+DESC&mode=hide">Backlog</a>
      </p>
		</div>
		<br/><br/>
	</div>

  <section class="intro section-padding">

    <div class="container">

      <div class="row">

        <div class="col-md-12">
          <h1><strong>Build #54</strong> ---- 25 Ago 2015</h1>
          <ul>
            <li><a href="#">#CUSTOM PAGE</a> Adding extra footer/header links<strong>#Improvement</strong></li>
            <li><a href="#">#CUSTOM PAGE</a> Making it possible for changing the header image<strong>#Improvement</strong></li>
            <li><a href="#">#CUSTOM PAGE</a> Making it possible for adding widgets inside the page<strong>#Improvement</strong></li>
            <li><a href="#">#UX</a> Updated the WYSIWYG component and added new buttons such as Iframe<strong>#Improvement</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #53</strong> ---- 21 Ago 2015</h1>
          <ul>
            <li><a href="#">#BUGFIX</a> Sitesetup adjustments (remove the generate sitelinks)<strong>#Improvement</strong></li>
            <li><a href="#">#UX</a> Better size and make the popup works on mobile<strong>#Improvement</strong></li>
            <li><a href="#">#UX</a> Background font colors adjustments<strong>#Improvement</strong></li>
            <li><a href="#">#UX</a> Added a help text to give more information to users before picking one style<strong>#Improvement</strong></li>
            <li><a href="#">#UX</a> Making the edit style acessible from any content as the edit and add buttons<strong>#Improvement</strong></li>
            <li><a href="#">#UX #GALLERY</a> Fixed to top menu<strong>#Improvement</strong></li>
            <li><a href="#">#UX</a> Redirect all user to the landing page instead of a custom page<strong>#Improvement</strong></li>
            <li><a href="#">#CONTENT</a> Possible to add custom urls to contents<strong>#NewFeature</strong></li>
            <li><a href="#">#CONTENT</a> Prevent errors for uploading large files<strong>#Improvement</strong></li>
            <li><a href="#">#UX</a> Hide the description field for unused widgets<strong>#Improvement</strong></li>
            <li><a href="#">#UX</a> Improved the pagelink styles (color fixes)<strong>#Improvement</strong></li>
            <li><a href="#">#UX</a> Changed the add new content to 2 steps (First the title and after all other fields)<strong>#Improvement</strong></li>
            <li><a href="#">#UX</a> A better user title pages for editing contents<strong>#Improvement</strong></li>
            <li><a href="#">#UX</a> Added an edit style shortcut over the edit content pages<strong>#Improvement</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #52</strong> ---- 08 Ago 2015</h1>
          <ul>
            <li><a href="#">#</a><strong>#Improvement</strong></li>
            <li><a href="#">#FIX Topmenu using a standard links</a><strong>#Improvement</strong></li>
            <li><a href="#">#VISUAL Removing the feedback area</a><strong>#Improvement</strong></li>
            <li><a href="#">#UX Adding a more intuitive edit contents title</a><strong>#Improvement</strong></li>
            <li><a href="#">#UX #CUSTOMPAGE Fix the mobile problem</a><strong>#Improvement</strong></li>
            <li><a href="#">#HELP Adding a help page to guide the user learning</a><strong>#Improvement</strong></li>
            <li><a href="#">#UX Improving the calendar's update page</a><strong>#Improvement</strong></li>
            <li><a href="#">#UX Make easier to add/update top menus</a><strong>#Improvement</strong></li>
            <li><a href="#">#UX Improving the image filters (show real images)</a><strong>#Improvement</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #51</strong> ---- 26 Jul 2015</h1>
          <ul>
            <li><a href="#">#</a>Added members invitations<strong>#NewFeature</strong></li>
            <li><a href="#">#</a>FIX: Just owner or members can login at websites (before any one with credentials could log in at any website)<strong>#BUGFIX</strong></li>
            <li><a href="#">#</a>FIX: Saving/restoring links<strong>#BUGFIX</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #50</strong> ---- 20 Jul 2015</h1>
          <ul>
            <li><a href="#">#</a>Creating public/private pages (for the custom pages) <strong>#Improvement</strong></li>
            <li><a href="#">#</a>Added custom pages to the Backup/Restore <strong>#Improvement</strong></li>
            <li><a href="#">#</a>Added a site template (Campfire) completing 3 themes for creating new sites <strong>#Improvement</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #49</strong> ---- 13 Jul 2015</h1>
          <ul>
            <li><a href="#">#</a>Adding custom pages <strong>#NewFeature</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #48</strong> ---- 10 Jul 2015</h1>
          <ul>
            <li><a href="#">#</a>UX/CORE Adding a new link engine, now when a user selects a link a complete list will be shown with meaningful names. <strong>#Improvement</strong></li>
            <li><a href="#">#</a>UX Removing page's reload while a user clicks on "cancel" button. <strong>#Improvement</strong></li>
            <li><a href="#">#</a>UX Removing all references to the old "flexcontent" app. <strong>#Improvement</strong></li>
            <li><a href="#">#</a>UX Adding delete option over all contents. <strong>#NewFeature</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #47</strong> ---- 17 Jun 2015</h1>
          <ul>
            <li><a href="#">#UX Using visual styles to indicate widget styles/types </a> <strong>#Improvement</strong></li>
            <li><a href="#">#UX Making the menu options (site settings) more acessible</a> <strong>#Improvement</strong></li>
            <li><a href="#">#TIMELINE Adding a new widget to create news content (initial version)</a> <strong>#NewFeature</strong></li>
            <li><a href="#">#CALENDAR Adding a new widget to create events content (initial version)</a> <strong>#NewFeature</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #46</strong> ---- 29 May 2015</h1>
          <ul>
            <li><a href="#">#PLUGGABLE APPS Starting the concept of having multiple pluggable apps architecture</a> <strong>#Improvement</strong></li>
            <li><a href="#">#THEMES Improving the site appeareance (widgets/styles)</a> <strong>#Improvement</strong></li>
            <li><a href="#">#TESTS Using test to allow changes faster and secure</a> <strong>#Improvement</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #45</strong> ---- 30 Apr 2015</h1>
          <ul>
            <li><a href="#">#WORKFLOW Improving the site setup workflow</a> <strong>#NewFeature</strong></li>
            <li><a href="#">#BACKUP Adding the site backup/restore</a> <strong>#NewFeature</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #44</strong> ---- 8 Mar 2015</h1>
          <ul>
            <li><a href="#">#</a> [GENERAL] New wizard for creating FAQ pages <strong>#NewFeature</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #43</strong> ---- 1 Mar 2015</h1>
          <ul>
            <li><a href="#">#</a> [THEMES] New background style: Style 4  <strong>#NewFeature</strong></li>
            <li><a href="#">#</a> [THEMES] New light green color <strong>#NewFeature</strong></li>
            <li><a href="#">#</a> [THEMES] New light purple color <strong>#NewFeature</strong></li>
            <li><a href="#">#</a> [THEMES] Adding a new top menu style <strong>#NewFeature</strong></li>
            <li><a href="#">#</a> [SECURITY] protecting pages for editing by the site owner <strong>#TechnicalDebts</strong></li>
            <li><a href="#">#84</a> [FAQ] Make the category dynamic <strong>#Improvement</strong></li>
            <li><a href="#">#</a> [GALLERY] Fixing bugs over the gallery page <strong>#BUGFIX</strong></li>
            <li><a href="#">#</a> [THEMES] New background style: Small and Long <strong>#NewFeature</strong></li>
            <li><a href="#">#</a> [THEMES] Gallery Page <strong>#NewFeature</strong></li>
            <li><a href="#">#</a> [TECH] Refactoring the CSS for get easier to add new html, changing the HTML block names <strong>#TechnicalDebts</strong></li>
            <li><a href="#">#</a> [TECH] Using new django-image-cropping app the 0.9.1. stopped working <strong>#TechnicalDebts</strong></li>
            <li><a href="#">#</a> [TECH] A command for helping clone a website. <strong>#NewFeature</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #42</strong> ---- 5 Feb 2015</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-84">#84</a> Adding a new style (image bottom). <strong>#Improvement</strong></li>
            <li><a href="#">#</a> [THEMES] Adding a font chooser <strong>#Improvement</strong></li>
            <li><a href="#">#</a> [THEMES] Making the navigation (top menu) more responsible <strong>#Improvement</strong></li>
            <li><a href="#">#</a> [THEMES] Small improvements over the layout, title size <strong>#Improvement</strong></li>
            <li><a href="#">#</a> [TECH] Fixing few standards problems. <strong>#TechnicalDebts</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #41</strong> ---- 27 Jan 2015</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-111">#111</a> [LOGO] Adding a hover for editing the site logo. <strong>#Improvement</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-111">#111</a> [GALLERY] Adding a better image hover over the 'pick an image'. <strong>#Improvement</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-111">#111</a> [LOGO] Fixing the logo editing for multiple sites. <strong>#BUGFIX</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-45">#45</a> #NSWMSITES-45 Temporary solution for adding page links (web target urls). <strong>#BUGFIX</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #40</strong> ---- 26 Jan 2015</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-108">#108</a> Fixing the template not found error by selecting the background style2 widget. <strong>#BUGFIX</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-103">#103</a> Fixing the top menu order which wouldn't be possible changing the last menu item. <strong>#BUGFIX</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-101">#101</a> Removing the backaground button when there is not label for it. <strong>#Improvement</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-83">#83</a> Adding the company logo over the top menu. <strong>#Improvement</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #39</strong> ---- 25 Jan 2015</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-87">#87</a> Image Gallery enhancements. <strong>#Improvement</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-81">#81</a> Adding a 404 and 500 error pages <strong>#Improvement</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-69">#69</a> Making the image drag and drop more visible (icon). <strong>#Improvement</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-76">#76</a> Adding the Google Analytics integration. <strong>#Improvement</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #38</strong> ---- 2 Jan 2015</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-53">#53</a> Adding a frontend GUIDE. <strong>#Improvement</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-53">#53</a> Adding a new theme color: Blue Marine. <strong>#Improvement</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-46">#46</a> Adding a component to show the image filters. <strong>#Improvement</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-53">#53</a> Adding the possibility for elements be linkable to other pages/areas. <strong>#Improvement</strong></li>
            <li><a href="#">#</a> Added a folder for common CSS files. <strong>#TechnicalDebts</strong></li>
            <li><a href="#">#</a> Getting thirdpart CSS/JS using bower. <strong>#TechnicalDebts</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #37</strong> ---- 16 Dec 2014</h1>
          <ul>
            <li><a href="#">#</a> Adding Image Filters for the contents which produce a better visual. <strong>#Improvement</strong></li>
            <li><a href="#">#</a> Block user for hiding areas that are mandatory such as menu and background. <strong>#Improvement</strong></li>
            <li><a href="#">#</a> Block user for adding pagelinks into areas to content widgets instead. <strong>#Improvement</strong></li>
            <li><a href="#">#</a> Added a new setup page for setting the site preferences (site name, site footer. <strong>#Improvement</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-46">#46</a> Adding a new floppy-form component (RadioIconSelect) for displaying Icons instead of names. <strong>#Improvement</strong></li>
            <li><a href="#">#</a> Adding more Tests to help code refactoring and avoid bugs. <strong>#TechnicalDebts</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #36</strong> ---- 15 Dec 2014</h1>
          <ul>
            <li><a href="#">#</a> Adding footer fields for extra information <strong>#Improvement</strong></li>
            <li><a href="#">#</a> Adding site preferences fields: Site Name, Site Title <strong>#Improvement</strong></li>
            <li><a href="#">#</a> Setting Widget names over the site setup <strong>#Improvement</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #35</strong> ---- 9 Dec 2014</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-35">#35</a> Adding social media integration (twitter, facebook) <strong>#NewFeature</strong></li>
            <li><a href="#">#</a> Improving the footer looking and colors <strong>#Improvement</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-35">#35</a> Adding social media settings page <strong>#NewFeature</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #34</strong> ---- 5 Dec 2014</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-57">#57</a> Add site image gallery for picking images <strong>#NewFeature</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #33</strong> ---- 2 Dec 2014</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-59">#59</a> Show a notification when the site needs a setup <strong>#NewFeature</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-59">#59</a> Fixing the topmenu links to anchors (when it is over the landing page) - without reload all the page <strong>#Improvement</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-21">#21</a> Improving the log file to append contents <strong>#Improvement</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #32</strong> ---- 25 Nov 2014</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-59">#59</a> Create a theme settings per site (all sites was using the same settings) <strong>#Improvements</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-59">#59</a> Improving the UX for the pages creation <strong>#Improvements</strong></li>
            <li><a href="#">#</a> Adding tests for site setup <strong>#TechnicalDebts</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #31</strong> ---- 24 Nov 2014</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-58">#58</a> Active/Desactive contents <strong>#Improvements</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-60">#60</a> Active/Desactive the top menu items, change menu ordering <strong>#Improvements</strong></li>
            <li><a href="#">#</a> Changed to MySQL as official database (it was using SQLite) <strong>#Improvements</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #30</strong> ---- 11 Nov 2014</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-52">#56</a> Removing field not used over the background widget (bottom text). The short content is used instead <strong>#Improvements</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-52">#52</a> Sending notification after contact or reply (using email) <strong>#Improvements</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #29</strong> ---- 5 Nov 2014</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-52">#52</a> Adding the contact us page Backed for admin manage/reply messages <strong>#NewFeature</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #28</strong> ---- 2 Nov 2014</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-52">#52</a> Adding the contact us page <strong>#NewFeature</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-51">#51</a> Adding the elements re-ordering Page <strong>#NewFeature</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #27</strong> ---- 28 Oct 2014</h1>
          <ul>
            <li><a href="#">#</a> Improving the TEMPLATES for helping new widgets creation <strong>#TechnicalDebts</strong></li>
            <li><a href="#">#</a> Improving the VIEWS for helping new widgets creation <strong>#TechnicalDebts</strong></li>
            <li><a href="#">#</a> Adding the NEW WIDGET PAGE <strong>#NewFeature</strong></li>
            <li><a href="#">#</a> UX - Added ON/OFF, YES/NO frontend compoents <strong>#Improvements</strong></li>
            <li><a href="#">#</a> Adding the areas visibity page <strong>#NewFeature</strong></li>
            <li><a href="#">#</a> Adding the NEW CUSTOM PAGES setup <strong>#NewFeature</strong></li>
            <li><a href="#">#</a> Adding the TOP MENU WIDGET <strong>#NewFeature</strong></li>
            <li><a href="#">#</a> Adding automatized TESTS for helping code refactore <strong>#TechnicalDebts</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #26</strong> ---- 20 Oct 2014</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-47">#47</a> Adding Login Page <strong>#NewFeature</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #25</strong> ---- 14 Oct 2014</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-19">#19</a> Adding a new page to help the site setup <strong>#Improvement</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-19">#19</a> Adding a better data content for new widget contents <strong>#Improvement</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-19">#19</a> UX improvements for popup buttons <strong>#Improvement</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #24</strong> ---- 13 Oct 2014</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-19">#19</a> Improving the layout style (areas' name) <strong>#Improvement</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #23</strong> ---- 12 Oct 2014</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-9">#9</a> Making the file upload easier <strong>#Improvement</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-1">#1</a> Add feature to create new sites dynamically <strong>#NewFeature</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #22</strong> ---- 6 Oct 2014</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-38">#38</a> Fixing sub-title for SimpleContent, Background and Pagelink widgets <strong>#BugFix</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-41">#41</a> Removing add from pagelink widget <strong>#BugFix</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-37">#37</a> Adding a button over the newsfeed page to be possible to go back to the landingpage <strong>#Improvement</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #21</strong> ---- 5 Oct 2014</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-23">#23</a> Fixing LongContent elements edit button <strong>#BugFix</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-25">#25</a> Adding subtitle to the pagelink style <strong>#BugFix</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-26">#26</a> Changing the CKEditor (WYSIWYG) toolbar elements by removing image, flash buttons and adding text style and formatting buttons <strong>#BugFix</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #20</strong> ---- 30 Sept 2014</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-17">#17</a> Initial Newfeeds page <strong>#NewFeature</strong></li>
            <li><a href="#">#</a> Homepage organizing and adding Glossary Page <strong>#Communication</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #19</strong> ---- 29 Sept 2014</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-20">#20</a> Block users to select invalid widget styles <strong>#Bugfix</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #18</strong> ---- 28 Sept 2014 11pm</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-10">#10</a> Openning Edit Pages using a Popup<strong>#Improvement</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-13">#13</a> Adding the Background Widget<strong>#NewFeature</strong></li>
          </ul>
        </div>

        <div class="col-md-12">
          <h1><strong>Build #17</strong> ---- 23 Sept 2014 1pm</h1>
          <ul>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-12">#12</a> Make possible to set the default widget and style over the template<strong>#Improvement</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-11">#11</a> Adding select for choosing the widgets over the edit pages<strong>#Improvement</strong></li>
            <li><a href="https://djenie.atlassian.net/browse/NSWMSITES-16">#16</a> Adding IconContent Widget and the small/big icons style<strong>#NewFeature</strong></li>
          </ul>
        </div>

      	<div class="col-md-12">
      		<h1><strong>Build #16</strong> ---- 22 Sept 2014</h1>
      		<ul>
            <li>Adding PageLink Widget and the default style <strong>#NewFeature</strong></li>
      			<li>Adding styles for SimpleContent and LongContent <strong>#NewFeature</strong></li>
      			<li>Adding images cropping for contents <strong>#NewFeature</strong></li>
      			<li>Auto creating area, widgets when it doesn't exists <strong>#BugFix</strong></li>
      			<li>Adding this build page <strong>#NewFeature</strong></li>
      		</ul>
      	</div>

      </div>

    </div>

  </section>

{% endblock content %}
