{% extends FRONTEND_THEME_BASE %}

{% load static %}
{% load magiccontent_tags %}

{% block extracss %}
  {{ block.super }}
  <style>
    .navbar img,
    .help-levels img {
        width: 100%;
    }
  </style>
{% endblock extracss %}

{% block pre_body %}
{% endblock pre_body %}

{% block pre_navbar %}
{% endblock pre_navbar %}

{% block post_body %}
{% endblock post_body %}

{% block navbar %}
  {% show_widget_area_tag 'top-menu' can_edit 'menuitem' page_url=page_url %}
  <img src="{% static 'frontend/themes/sydney/img/g20-australia.jpg' %}">
{% endblock navbar %}

{% block content %}

  <section class="intro section-padding">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <center>
            <h1 class="p2"><strong>Help page</strong></h1>
          </center>
        </div>
      </div>

      <div class="row help-levels">
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <center>
            <a href="#beginning">
              <img src="{% static 'frontend/themes/sydney/img/help_beginning.png' %}">
              <h2>Beginning</h2>
            </a>
          </center>
        </div>
        <div class="col-md-3">
          <center>
            <a href="#advanced">
              <img src="{% static 'frontend/themes/sydney/img/help_advanced.png' %}">
              <h2>Advanced</h2>
            </a>
          </center>
        </div>
        <div class="col-md-3">
          <center>
            <a href="#expert">
              <img src="{% static 'frontend/themes/sydney/img/help_expert.png' %}">
              <h2>Expert</h2>
            </a>
          </center>
        </div>
        <div class="col-md-1"></div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p><br/><br/><br/><br/></p>
          <a name="beginning"></a>
          <h1><strong>Beginning</strong></h1>
        </div>
        <div class="col-md-2">
          <h1><strong>Level 1</strong></h1>
          <h4>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </h4>
          <hr/>
        </div>
        <div class="col-md-10">
          <h3><small>Lesson one</small><br/> - Update existing page contents</h3>
          <p>The most common and used feature: The edit icon button <i class="fa fa-pencil"></i></p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/8_axYjnBL_I?rel=0" frameborder="0" allowfullscreen></iframe>
          <p><br/><br/><br/><br/></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <h1><strong>Level 2</strong></h1>
          <h4>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </h4>
          <hr/>
        </div>
        <div class="col-md-10">
          <h3><small>Lesson one</small><br/>- Adding a new content<br/></h3>
          <p>Using the <i class="fa fa-plus"> button for creating new contents</i></p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ZH0mqXNnDK8?rel=0" frameborder="0" allowfullscreen></iframe>
          <p><br/><br/><br/><br/></p>
          <h3><small>Lesson two</small><br/> - Delete an existing content<br/></h3>
          <p>The delete button is a little bit hidden to avoid users deleting contents with no purpose</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/2_gJm9wTowM?rel=0" frameborder="0" allowfullscreen></iframe>
          <p><br/><br/><br/><br/></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <h1><strong>Level 3</strong></h1>
          <h4>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </h4>
          <hr/>
        </div>
        <div class="col-md-10">
          <h3><small>Lesson one</small><br/>- Changing a content order</h3>
          <p>Using the <i class="fa fa-sort-alpha-asc"></i> icon button to reorder elements inside an area</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/UlF7jPLuNRA?rel=0" frameborder="0" allowfullscreen></iframe>
          <p><br/><br/><br/><br/></p>
          <h3><small>Lesson two</small><br/>- Show/Hide contents</h3>
          <p>Understand the difference between hide and delete and when delete (forever) contents and when hide contens for keeping the data save to show later on</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/NuEu-oIUo28?rel=0" frameborder="0" allowfullscreen></iframe>
          <p><br/><br/><br/><br/></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <h1><strong>Level 4</strong></h1>
          <h4>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </h4>
          <hr/>
        </div>
        <div class="col-md-10">
          <h3><small>Lesson one</small><br/> - Adding images into contents</h3>
          <p>Most of contents accept images on it. By editing one content you have the option to upload a new image or pick one up from the gallery</p>
          <p><strong>TODO: Improve the way to add images where it should be possible do it without 2 steps</strong></p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/heCRxzisZAg?rel=0" frameborder="0" allowfullscreen></iframe>
          <p><br/><br/><br/><br/></p>
          <h3><small>Lesson two</small><br/> - Removing images</h3>
          <p>It's possible to keep contents withou images. Use the remove image checkbox and click in save</p>
          <p><strong>TODO: It could be easier (or more intuitive) for removing images from contents, the checkbox is not clear</strong></p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/EamOaH04Nuw?rel=0" frameborder="0" allowfullscreen></iframe>
          <p><br/><br/><br/><br/></p>
          <h3><small>Lesson three</small><br/> - Applying image filters<br/></h3>
          <p>You can improve your images appearance by adding image filters</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Zus-o9w_JiA?rel=0" frameborder="0" allowfullscreen></iframe>
          <p><br/><br/><br/><br/></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <h1><strong>Level 5</strong></h1>
          <h4>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </h4>
          <hr/>
        </div>
        <div class="col-md-10">
          <h3><small>Lesson one</small><br/> - Creating new custom pages</h3>
          <p>It's possible creating custom pages for a variety of your needs</p>
          <p><strong>TODO: It should be possible adding widgets (such as image or calendar) into the custom pages</strong></p>
          <p><strong>TODO: Could have a pagelink in the page bottom</strong></p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/hQy_aPC5gws?rel=0" frameborder="0" allowfullscreen></iframe>
          <p><br/><br/><br/><br/></p>
          <h3><small>Lesson two</small><br/> - Linking elements</h3>
          <p>Each page must be connected to others to make a good content network, you need to use the links for that</p>
          <p><strong>TODO: Should have an option to add a link to a new page (which could create both the page and the link)</strong></p>
          <p><br/><br/><br/><br/></p>
          <h3><small>Lesson three</small><br/> - Changing the page navigation (top menu)</h3>
          <p>The main topics into your side must be in your top menu (navigation)</p>
          <p><br/><br/><br/><br/></p>
          <h3><small>Lesson four</small><br/> - Changing a custom page to private</h3>
          <p>It's possible to block pages to be accessed for visitors by making them private (members only)</p>
          <p><br/><br/><br/><br/></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <h1><strong>Level 6</strong></h1>
          <h4>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </h4>
          <hr/>
        </div>
        <div class="col-md-10">
          <h3><small>Lesson one</small><br/> - Adding and updating timeline contents (News)</h3>
          <p><br/><br/><br/><br/></p>
          <h3><small>Lesson two</small><br/>- Adding and updating calendar contents (Events)</h3>
          <p><strong>TODO: Each event could have an image associate to it</strong> </p>
          <p><strong>TODO: The event content could be a WYSIWYG instead a plain text</strong> </p>
          <p><strong>TODO: The date/time field could have a better component to make easier filling it up</strong> </p>
          <p><br/><br/><br/><br/></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p><br/><br/><br/><br/></p>
          <a name="advanced"></a>
          <h1><strong>Advanced</strong></h1>
        </div>
        <div class="col-md-2">
          <h1><strong>Level 1</strong></h1>
          <h4>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </h4>
          <hr/>
        </div>
        <div class="col-md-10">
          <h3><small>Lesson one</small><br/> - Inviting new members</h3>
          <p>Members can login <i class="fa fa-sign-in"></i> and access private contents</p>
          <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/8_axYjnBL_I?rel=0" frameborder="0" allowfullscreen></iframe>-->
          <p>Coming soon</p>
          <p><br/><br/><br/><br/></p>
          <h3><small>Lesson two</small><br/> - Areas and Widgets</h3>
          <p>Understanding the two base concepts behind the site appearance: <strong>Areas</strong> and <strong>Widgets</strong></p>
          <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/8_axYjnBL_I?rel=0" frameborder="0" allowfullscreen></iframe>-->
          <p>Coming soon</p>
          <p><br/><br/><br/><br/></p>
          <h3><small>Lesson three</small><br/>- Swapping widgets inside areas</h3>
          <p>Its possible to change content's importance by changing widget positions</p>
          <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/8_axYjnBL_I?rel=0" frameborder="0" allowfullscreen></iframe>-->
          <p>Coming soon</p>
          <p><br/><br/><br/><br/></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p><br/><br/><br/><br/></p>
          <a name="expert"></a>
          <h1><strong>Expert</strong></h1>
        </div>
        <div class="col-md-2">
          <h1><strong>Level 1</strong></h1>
          <h4>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </h4>
          <hr/>
        </div>
        <div class="col-md-10">
          <h3><small>Lesson one</small><br/> - Inviting new owners</h3>
          <p>Owners can get a new website</p>
          <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/8_axYjnBL_I?rel=0" frameborder="0" allowfullscreen></iframe>-->
          <p>Coming soon</p>
          <p><br/><br/><br/><br/></p>
        </div>
      </div>

      <a href="{% url 'core.landingpage' %}" class="btn btn-default">Back</a>

    </div>

  </section>

{% endblock content %}

{% block extrajs %}
  <script>
    $(document).ready(function() {
      $(".nav_slide_button").click(function() {
        $(".pull").slideToggle();
      });
    });
  </script>
{% endblock extrajs %}
